:root {
  --gms-bg: #111319;
  --gms-surface: #111319;
  --gms-surface-2: #10141f;
  --gms-primary: #dd4242;
  --gms-primary-dark: #be3030;
  --gms-text: #b5b5b5;
  --gms-muted: #84889c;
  --gms-white: #ffffff;
}
